
body {
background-image: url('../img/cascades.jpg');
color: #efefef  ;
/*font-family: "Amiri", serif;*/
font-family: 'Lato', sans-serif;
font-weight: 300;
}

main {
width: 80%;
margin: 0 auto;
text-align: center;
margin-top: 3rem;
border: 3px solid #efefef  ;
padding: 5em 3em 5em 3em;
background: rgba(0, 0, 0, 0.4);
}

h1 {
  font-family:  "Architects Daughter", cursive;
  font-size: 2em;
}

img {
 width: 25px;
 height: 25px;
}


@media only screen and (min-width: 760px) {
main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow: hidden;
  border: 3px solid #efefef  ;
}

img {
width: 45px;
height: 45px;
}

/* TEXT STYLES */

h1, h2, h3, h4, a {
font-family: "Architects Daughter", cursive;
}

a {
 font-size: .75em;
}

h1 {
font-size: 4em;
}

h2 {
font-size: 3em;
}

p {
line-height: 1.2em;
}
