	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/08/2016 07:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./fonts/Flaticon.eot");
  src: url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-animals:before { content: "\f100"; }
.flaticon-bicycle-rider:before { content: "\f101"; }
.flaticon-butterfly-catcher:before { content: "\f102"; }
.flaticon-christmas-tree:before { content: "\f103"; }
.flaticon-climbing:before { content: "\f104"; }
.flaticon-climbing-sport:before { content: "\f105"; }
.flaticon-climbing-with-rope:before { content: "\f106"; }
.flaticon-digital-camera:before { content: "\f107"; }
.flaticon-disabled:before { content: "\f108"; }
.flaticon-dog:before { content: "\f109"; }
.flaticon-fishing-man:before { content: "\f10a"; }
.flaticon-hiker-silhouette-on-mountain:before { content: "\f10b"; }
.flaticon-hiking:before { content: "\f10c"; }
.flaticon-horse-riding:before { content: "\f10d"; }
.flaticon-kayak:before { content: "\f10e"; }
.flaticon-man-in-canoe:before { content: "\f10f"; }
.flaticon-man-swimming:before { content: "\f110"; }
.flaticon-nature:before { content: "\f111"; }
.flaticon-nature-1:before { content: "\f112"; }
.flaticon-night-camping:before { content: "\f113"; }
.flaticon-outdoors-map:before { content: "\f114"; }
.flaticon-poppy:before { content: "\f115"; }
.flaticon-quad-bike:before { content: "\f116"; }
.flaticon-running-man:before { content: "\f117"; }
.flaticon-snowed-mountains:before { content: "\f118"; }
.flaticon-snowflake:before { content: "\f119"; }
.flaticon-spyglass:before { content: "\f11a"; }
.flaticon-sun-and-lake:before { content: "\f11b"; }
.flaticon-two-pines:before { content: "\f11c"; }
.flaticon-walking-with-snowshoes:before { content: "\f11d"; }
.flaticon-wild-deer:before { content: "\f11e"; }
.flaticon-wind-rose-compass:before { content: "\f11f"; }
