.clearfix {
  clear: both;
}

.header-h1 {
 display: none;
}

.footer-links {
  font-size: 1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.footer-links li {
  padding: 0.1rem;
}

a:link, a:visited {
  font-family:  "Architects Daughter", cursive;
 text-decoration: none;
 color: #efefef ;
}

a:hover {
 cursor: pointer;
 color: #669933 ;
}

#footer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

.footer-img {
  width: 45px;
  height: 45px;
  color: #efefef;
}

@media only screen and (min-width: 760px) {

  #footer {
    padding: .75em 0 1.25em;
  }

  .footer-links {
    font-size: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 0
 }

}
