.header-h1 {
 display: none;
}

.biopic {
 width: 200px;
 height: 200px;
 float: left;
 margin-right: 1em;
}

.footer-links {
  font-size: 1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 4em;
  margin-right: 5em;
}

a:link, a:visited {
  font-family:  "Architects Daughter", cursive;
 text-decoration: none;
 color: #efefef ;
}

a:hover {
 cursor: pointer;
 color: #669933 ;
}

#footer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  padding: 1em;
}

@media only screen and (min-width: 760px) {

 #footer {
   padding-top: .75em;
   padding-bottom: 1.25em;
   position: static;
   bottom: 0;
 }

 .footer-links {
   font-size: 2em;
   list-style: none;
   display: flex;
   justify-content: space-between;
   margin-left: 9em;
   margin-right: 10em;
 }

}
