#about {
  clear: both;
}

#about h3 {
  font-size: 2.5em;
  text-align: center;
}

#about p {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.biopic {
 width: 250px;
 height: 250px;
 margin-right: 1em;
}

@media only and screen (min-width: 760px) {
  .biopic {
    float: left;
  }
}
