.green {
  color: #669933;
}

.dkgreen {
  color: #344c1a;
}

.yellow {
  color: #d3d347;
}

.orange {
  color: orange;
}

.red {
  color: #a01505;
}

.purple {
  color: #5f2871;
}

.ltblue {
  color: #29526d;
}

.black {
  color: #000;
}

.brown {
  color: #734416;
}

/*#filters {
  margin-left: -3vh;
}*/

#filters-section h1 {
  margin-top: -1rem;
}

#filters-section h2 {
  font-size: 2.5em;
  margin-bottom: .25em;
  margin-top: 0.25em;
}

#filters-section h4 {
  line-height: 1.5;
}

#filters-section ul {
    font-size: 2.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#filters-section li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  /*margin-right: 0.5rem;*/
  margin-top: 1rem;
  padding: .3em .4em .4em .3em;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

#filters-section li:last-child {
  margin-right: 0;
}

img.filterIcons{
height: 6em;
width: 6em;
margin: 1.25em;
}

#filters .active {
background-color: white;
}

#filters-submit {
    letter-spacing: .2rem;
    background-color: rgba(51, 77, 25, 0.8);
    color: #efefef;
    font-size: 1.2em;
    font-family: 'Architects Daughter', cursive;
    /*text-transform: uppercase;*/
    padding: .5em .75em;
    border: 1px solid #efefef;
    border-radius: 5px;
    cursor: pointer;
}

#filters-submit:hover {
 background-color: #444;
}

@media only screen and (min-width: 760px) {
  ul {
    font-size: 3.5em;
    margin-top: 1em;
  }

  #filters-section h2 {
    font-size: 3.5em;
  }

  #filters-submit {
    letter-spacing: .3rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 2em;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    padding: .3em .75em;
    border: none;
    border-radius: 5px;
    color: #efefef  ;
    cursor: pointer;
  }

  #filters-section li {
    padding: .3em .4em .3em .3em;
    margin-right: 0.3em;
    font-size: 2em;
    width: 85px;
    height: 100px;
  }
}
