.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

#filters ul {
  font-size: 5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#filters li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 1.25rem 1.75rem;
  margin-left: 1.75rem;
  cursor: pointer;
}

img.filterIcons{
  height: 6em;
  width: 6em;
  margin: 1.25em;
}

.filters li{

}

#filters .active {
  background-color: red;
}
