.green {
color: green;
}

.yellow {
color: yellow;
}

.orange {
color: orange;
}

.red {
color: red;
}

.black {
color: black;
}

#filters-section ul {
    font-size: 2.5em;
    margin-bottom: 1em;
}

#filters-section li {
  display: inline;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin-left: 1rem;
  padding: 1rem;
  cursor: pointer;
}


img.filterIcons{
height: 6em;
width: 6em;
margin: 1.25em;
}

.filters li{

}

#filters .active {
background-color: white;
}

#filters-submit {
    letter-spacing: .2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #efefef;
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    padding: .5em .75em;
    width: 8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

#filters-submit:hover {
 background-color: #444;
}

@media only screen and (min-width: 760px) {
ul {
  font-size: 3.5em;
  margin-top: 1em;
}


#filters-submit {
  letter-spacing: .3rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  padding: .3em .75em;
  width: 350px;
  border: none;
  border-radius: 5px;
  color: #efefef  ;
  cursor: pointer;
}

  #filters-section li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 1.25rem 1.75rem;
    margin-left: 1.75rem;
    cursor: pointer;
  }
}
