
#search p {
  font-size: 1.5em;
  margin: 2rem 0;
  font-family: "Amiri", serif;
}

#autocomplete {
  padding: .75em;
  font-size: .75em;
  width: 110px;
}

#search-submit {
  background-color: #444;
  font-size: .75em;
  padding: 1em;
  margin-left: .5em;
  border: none;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #efefef;
  cursor: pointer;
}

#search-submit:hover {
 background-color: #444;
}

@media only screen and (min-width: 760px) {
#autocomplete {
    padding: .25em;
    font-size: 1em;
    width: 200px;
}

#search-submit {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.25em;
  margin-left: 0.5em;
  padding: .25em;
  border: none;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #efefef  ;
}
}
