#search p {
  font-size: 1.5em;
  margin: 2rem 0;
}

#autocomplete {
  padding: 1em;
  font-size: 1.5em;
  width: 400px;
}

#search-submit {
  background-color: #ccc;
  font-size: 1.5em;
  padding: 1em;
  margin-left: .5em;
  border: none;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
